.color-icon {
    color: #f73e60;
}

.footer-margin {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 15px;
}

.footer-margin span {
    margin-right: 17px;
}

.book-mark {
    margin-left: 58px;
}